table{
    position: absolute;
   z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    border: 1px solid #CCC;
    border-collapse: collapse;
    background-color:rgb(1, 8, 8);
    
   
   }
   td , th{
    padding:  1px 1px;
    text-align: center;
    border: none;
    color:#CCC;
   
   }
   
  